apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: thoth-frontend-stage
resources:
  - ../../base
  - rolebindings.yaml
  - thoth-notification.yaml
patchesStrategicMerge:
  - imagestreamtag.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-success-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-fail-
  - path: put-into-infra-namespace.yaml
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: graph-refresh-template
  - path: put-into-middletier-namespace.yaml
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: graph-refresh-config
