apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - argo-workflows/mi-workflow-template.yaml
  - openshift-templates/mi-run-template.yaml
  - configmaps.yaml
  - cronjob.yaml
  - imagestream.yaml
commonLabels:
  app.kubernetes.io/name: thoth
  app.kubernetes.io/component: mi-scheduler
  app.kubernetes.io/managed-by: aicoe-thoth-devops-argocd
