---
kind: ConfigMap
apiVersion: v1
metadata:
  name: workflow-controller-configmap
data:
  config: |
    containerRuntimeExecutor: "k8sapi"
    namespace: "thoth-backend-prod"
    parallelism: 10

    workflowDefaults:
      spec:
        ttlStrategy:
          secondsAfterCompletion: 900
          secondsAfterSuccess: 900
          secondsAfterFailure: 900
      parallelism: 2

    # metricsConfig controls the path and port for prometheus metrics
    metricsConfig:
      enabled: true
      path: /metrics
      port: 8080

    executor:
      imagePullPolicy: IfNotPresent
      resources:
        requests:
          cpu: 0.1
          memory: 64Mi
        limits:
          cpu: 0.5
          memory: 256Mi

    artifactRepository:
      archiveLogs: true

      s3:
        bucket: "thoth"
        keyPrefix: "data/smaug-prod/argo/artifacts/"
        endpoint: "rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.local"
        insecure: true
        accessKeySecret:
          name: argo-artifact-repository-secrets
          key: accessKey
        secretKeySecret:
          name: argo-artifact-repository-secrets
          key: secretKey
