---
kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: management-api
spec:
  replicas: 1
  selector:
    service: management-api
    app.kubernetes.io/name: thoth
    app.kubernetes.io/component: management-api
    app.kubernetes.io/managed-by: aicoe-thoth-devops-argocd
  template:
    metadata:
      labels:
        service: management-api
        app.kubernetes.io/name: thoth
        app.kubernetes.io/component: management-api
        app.kubernetes.io/managed-by: aicoe-thoth-devops-argocd
    spec:
      serviceAccountName: management-api
      containers:
        - name: management-api-openapi
          image: management-api
          env:
            - name: APP_MODULE
              value: "thoth.management_api.openapi_server:app"
            - name: KUBERNETES_API_URL
              value: "https://kubernetes.default.svc.cluster.local"
            - name: KUBERNETES_VERIFY_TLS
              value: "0"
            - name: THOTH_MANAGEMENT_API_RUN_MIGRATIONS
              value: "0"
            - name: AMUN_API_URL
              valueFrom:
                configMapKeyRef:
                  key: amun-api-url
                  name: amun
            - name: THOTH_RESULT_API_URL
              value: http://result-api
            - name: THOTH_MIDDLETIER_POD_CPU_LIMIT
              valueFrom:
                configMapKeyRef:
                  key: middletier-pod-cpu-limit
                  name: thoth
            - name: THOTH_MIDDLETIER_POD_MEMORY_LIMIT
              valueFrom:
                configMapKeyRef:
                  key: middletier-pod-memory-limit
                  name: thoth
            - name: THOTH_FRONTEND_NAMESPACE
              valueFrom:
                configMapKeyRef:
                  key: frontend-namespace
                  name: thoth
            - name: THOTH_MIDDLETIER_NAMESPACE
              valueFrom:
                configMapKeyRef:
                  key: middletier-namespace
                  name: thoth
            - name: THOTH_INFRA_NAMESPACE
              valueFrom:
                configMapKeyRef:
                  key: infra-namespace
                  name: thoth
            - name: THOTH_BACKEND_NAMESPACE
              valueFrom:
                configMapKeyRef:
                  key: backend-namespace
                  name: thoth
            - name: THOTH_DEPLOYMENT_NAME
              valueFrom:
                configMapKeyRef:
                  key: deploymentName
                  name: thoth
            - name: THOTH_S3_ENDPOINT_URL
              valueFrom:
                configMapKeyRef:
                  key: host
                  name: ceph
            - name: THOTH_CEPH_BUCKET
              valueFrom:
                configMapKeyRef:
                  key: bucket-name
                  name: ceph
            - name: THOTH_CEPH_BUCKET_PREFIX
              valueFrom:
                configMapKeyRef:
                  key: bucket-prefix
                  name: ceph
            - name: THOTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: thoth
                  key: thoth-secret
            - name: THOTH_MANAGEMENT_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: thoth
                  key: management-api-token
            - name: THOTH_APP_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: thoth
                  key: app-secret-key
            - name: THOTH_CEPH_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: ceph
                  key: key-id
            - name: THOTH_CEPH_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: ceph
                  key: secret-key
            - name: RSYSLOG_HOST
              valueFrom:
                configMapKeyRef:
                  key: rsyslog-host
                  name: thoth
            - name: RSYSLOG_PORT
              valueFrom:
                configMapKeyRef:
                  key: rsyslog-port
                  name: thoth
            - name: PROMETHEUS_PUSHGATEWAY_HOST
              valueFrom:
                configMapKeyRef:
                  key: pushgateway-host
                  name: prometheus
            - name: PROMETHEUS_PUSHGATEWAY_PORT
              valueFrom:
                configMapKeyRef:
                  name: prometheus
                  key: pushgateway-port
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: thoth
                  key: sentry-dsn
            - name: KNOWLEDGE_GRAPH_HOST
              value: "postgresql.thoth-test-core.svc"
            - name: KNOWLEDGE_GRAPH_PORT
              value: "5432"
            - name: KNOWLEDGE_GRAPH_SSL_DISABLED
              value: "1"
            - name: KNOWLEDGE_GRAPH_USER
              valueFrom:
                secretKeyRef:
                  name: postgresql
                  key: database-user
            - name: KNOWLEDGE_GRAPH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgresql
                  key: database-password
            - name: KNOWLEDGE_GRAPH_DATABASE
              valueFrom:
                secretKeyRef:
                  name: postgresql
                  key: database-name
            - name: THOTH_API_HTTPS
              valueFrom:
                configMapKeyRef:
                  name: management-api
                  key: api-https
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              memory: "768Mi"
              cpu: "1"
            limits:
              memory: "1Gi"
              cpu: "1500m"
          readinessProbe:
            httpGet:
              path: "/readiness"
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 10
          livenessProbe:
            httpGet:
              path: "/liveness"
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 10
  test: false
