apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - route.enc.yaml
  - role-binding.yaml
  - thoth-notification.yaml
patchesStrategicMerge:
  - imagestreamtag.yaml
patches:
  - path: resources_patch.yaml
    target:
      group: apps.openshift.io
      version: v1
      kind: DeploymentConfig
      name: user-api
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-success-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-fail-
  - path: put-into-infra-namespace.yaml
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: user-api
