apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - imagestream.yaml
  - argo-workflows/aggregator-template.yaml
  - argo-workflows/cloc-template.yaml
  - argo-workflows/bandit-template.yaml
  - argo-workflows/download-package-template.yaml
  - openshift-templates/security-indicators.yaml
commonLabels:
  app.kubernetes.io/name: thoth
  app.kubernetes.io/component: security-indicators
  app.kubernetes.io/managed-by: aicoe-thoth-devops
