apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml
  - thoth-notification.yaml
patchesStrategicMerge:
  - imagestreamtag.yaml
generatorOptions:
  disableNameSuffixHash: true
generators:
  - secret-generator.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-succeeded-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-failed-
  - path: put-into-infra-namespace.yaml
    target:
      group: template.openshift.io
      version: v1
      kind: Template
      name: qeb-hwt
  - path: put-into-backend-namespace.yaml
    target:
      group: argoproj.io
      version: v1alpha1
      kind: WorkflowTemplate
      name: qeb-hwt-integration
  - path: put-into-backend-namespace.yaml
    target:
      group: ""
      version: v1
      kind: Secret
      name: qeb-hwt-secret
