apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/version: "0.6.0-dev"
resources:
  - ../../base
  - thoth-notification.yaml
patchesStrategicMerge:
  - configmap.yaml
  - cronjobs.yaml
  - imagestreamtag.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-succeeded-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-failed-
generatorOptions:
  disableNameSuffixHash: true
generators:
  - ./secret-generator.yaml
