---
kind: ConfigMap
apiVersion: v1
metadata:
  name: qeb-hwt
data:
  subdomain: qeb-hwt
  webhook-callback-url: "http://qeb-hwt-webhook-receiver-aicoe-prod-bots.apps.ocp.prod.psi.redhat.com"
---
# Duplicate configmap as this would be moved to backend namespace
kind: ConfigMap
apiVersion: v1
metadata:
  name: qeb-hwt-workflow
data:
  webhook-callback-url: "http://qeb-hwt-webhook-receiver-aicoe-prod-bots.apps.ocp.prod.psi.redhat.com"
