apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configurations:
  - commonlabels.yaml
commonLabels:
  app.kubernetes.io/name: thoth
  app.kubernetes.io/component: core
  app.kubernetes.io/managed-by: kustomize-ksops
resources:
  - configmaps.yaml
