---
kind: ConfigMap
apiVersion: v1
metadata:
  name: workflow-controller-configmap
data:
  config: |
    containerRuntimeExecutor: "k8sapi"
    namespace: "thoth-middletier-prod"
    parallelism: 50

    workflowDefaults:
      spec:
        ttlStrategy:
          secondsAfterCompletion: 10
          secondsAfterSuccess: 10
          secondsAfterFailure: 10
      parallelism: 10

    # metricsConfig controls the path and port for prometheus metrics
    metricsConfig:
      enabled: true
      path: /metrics
      port: 8080

    artifactRepository:
      archiveLogs: false

      s3:
        bucket: "thoth"
        keyPrefix: "data/zero-prod/argo/artifacts/"
        endpoint: "rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.local"
        insecure: true
        accessKeySecret:
          name: argo-artifact-repository-secrets
          key: accessKey
        secretKeySecret:
          name: argo-artifact-repository-secrets
          key: secretKey
