apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - role_bindings.yaml
  - thoth-notification.yaml
patchesStrategicMerge:
  - deploymentconfig.yaml
  - imagestreamtag.yaml
patches:
  - path: resources_patch.yaml
    target:
      group: apps.openshift.io
      version: v1
      kind: DeploymentConfig
      name: metrics-exporter
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-success-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-fail-
generatorOptions:
  disableNameSuffixHash: true
generators:
  - ./secret-generator.yaml
