apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/managed-by: aicoe-thoth-devops-manual
resources:
  - ../../base
  - route.yaml
patchesStrategicMerge:
  - imagestreamtag.yaml
patches:
  - path: resources_patch.yaml
    target:
      group: apps.openshift.io
      version: v1
      kind: DeploymentConfig
      name: user-api
