apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - argo-deployments.yaml
  - argo-imagestreams.yaml
  - argo-management.yaml
  - argo-ui-controller.yaml
  - argo-workflow-controller.yaml
  - configmaps.yaml
  - metrics-exporter-reader.yaml
  - thoth-notification.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-succeeded-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-failed-
