apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - role-binding.yaml
  - thoth-notification.yaml
patchesStrategicMerge:
  - deploymentconfig.yaml
  - imagestreamtag.yaml
patches:
  - path: resources_patch.yaml
    target:
      group: apps.openshift.io
      version: v1
      kind: DeploymentConfig
      name: user-api
  - path: put-into-infra-namespace.yaml
    target:
      group: batch
      version: v1
      kind: Job
      annotationSelector: "operation=chat-notification"
  - path: put-into-infra-namespace.yaml
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: user-api
  - path: put-into-backend-namespace.yaml
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: user-api-pods-info
  - path: put-into-middletier-namespace.yaml
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: middletier-pods-info
generatorOptions:
  disableNameSuffixHash: true
generators:
  - ./secret-generator.yaml
