apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: aicoe-prod-bots
resources:
  - ../../base
  - new-label-normalizer.yaml
  - thoth-notification.yaml
patchesStrategicMerge:
  - imagestreamtag.yaml
generatorOptions:
  disableNameSuffixHash: true
generators:
  - ./secret-generator.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-succeeded-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-failed-
