---
kind: ConfigMap
apiVersion: v1
metadata:
  name: amun
data:
  amun-api-url: http://amun-api.thoth-amun-api-prod.svc
  deployment-name: moc-power9
  infra-namespace: thoth-amun-inspection-prod
  inspection-namespace: thoth-amun-inspection-prod
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ceph
data:
  bucket-name: "thoth"
  bucket-prefix: "data"
  host: "https://kzn-swift.massopen.cloud/"
  endpoint: "https://kzn-swift.massopen.cloud/"
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: prometheus
data:
  pushgateway-host: pushgateway-opendatahub.k-apps.osh.massopen.cloud
  pushgateway-port: "80"
  pushgateway-url: pushgateway-opendatahub.k-apps.osh.massopen.cloud:80
