alerting:
  alert_relabel_configs:
  - action: labeldrop
    regex: prometheus_replica
  alertmanagers: []
global:
  evaluation_interval: 30s
  external_labels:
    prometheus: thoth-infra-prod/prometheus
    prometheus_replica: $(POD_NAME)
  scrape_interval: 30s
rule_files:
- /etc/prometheus/rules/prometheus-prometheus-rulefiles-0/*.yaml
scrape_configs:
- job_name: 'pushgateway'
  honor_labels: true
  scheme: http
  static_configs:
    - targets:
      - pushgateway-thoth-infra-prod.apps.zero.massopen.cloud
- job_name: 'Thoth Metrics'
  metrics_path: '/metrics'
  scheme: http
  static_configs:
    - targets:
      - metrics-exporter-thoth-infra-prod.apps.zero.massopen.cloud
- job_name: 'Thoth User API Metrics'
  static_configs:
    - targets:
      - user-api-thoth-frontend-prod.apps.zero.massopen.cloud
- job_name: 'Thoth Amun API Metrics'
  static_configs:
    - targets:
      - amun-api-thoth-amun-api-prod.apps.zero.massopen.cloud
- job_name: 'Thoth Management API Metrics'
  static_configs:
    - targets:
      - management-api-thoth-frontend-prod.apps.zero.massopen.cloud
- job_name: 'Thoth Argo Workflow Metrics'
  metrics_path: '/metrics'
  scheme: http
  static_configs:
    - targets:
      - workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud
      - workflow-controller-metrics-thoth-amun-inspection-prod.apps.zero.massopen.cloud
      - workflow-controller-metrics-thoth-backend-prod.apps.zero.massopen.cloud
- job_name: 'Thoth Investigator Consumer Metrics'
  metrics_path: '/metrics'
  scheme: http
  static_configs:
    - targets:
      - investigator-faust-web-thoth-infra-prod.apps.zero.massopen.cloud
      - investigator-message-metrics-thoth-infra-prod.apps.zero.massopen.cloud
- job_name: 'Thoth PostgreSQL Metrics'
  metrics_path: '/metrics'
  scheme: http
  static_configs:
    - targets:
      - postgres-metrics-exporter-thoth-graph-prod.apps.zero.massopen.cloud
