apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - thoth-notification.yaml
patchesStrategicMerge:
  - imagestreamtag.yaml
patches:
  - path: put-into-infra-namespace.yaml
    target:
      group: batch
      version: v1
      kind: Job
      annotationSelector: "operation=chat-notification"
  - path: put-into-infra-namespace.yaml
    target:
      group: template.openshift.io
      version: v1
      kind: Template
      name: security-indicators
  - patch: |-
      - op: replace
        path: /spec/templates/0/container/image
        value: image-registry.openshift-image-registry.svc:5000/thoth-middletier-prod/si-aggregator:latest
    target:
      group: argoproj.io
      version: v1alpha1
      kind: WorkflowTemplate
      name: aggregator
  - patch: |-
      - op: replace
        path: /spec/templates/0/container/image
        value: image-registry.openshift-image-registry.svc:5000/thoth-middletier-prod/si-bandit:latest
    target:
      group: argoproj.io
      version: v1alpha1
      kind: WorkflowTemplate
      name: bandit
  - patch: |-
      - op: replace
        path: /spec/templates/0/container/image
        value: image-registry.openshift-image-registry.svc:5000/thoth-middletier-prod/si-cloc:latest
    target:
      group: argoproj.io
      version: v1alpha1
      kind: WorkflowTemplate
      name: cloc
  - patch: |-
      - op: replace
        path: /spec/templates/0/container/image
        value: image-registry.openshift-image-registry.svc:5000/thoth-middletier-prod/workflow-helpers:latest
    target:
      group: argoproj.io
      version: v1alpha1
      kind: WorkflowTemplate
      name: download-package
