apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../common/
  - argo-deployments.yaml
  - argo-imagestreams.yaml
  - argo-mangement.yaml
  - argo-ui-controller.yaml
  - argo-workflow-controller.yaml
  - thoth-notification.yaml
  - configmaps.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-succeeded-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-failed-
