---
apiVersion: v1
kind: ConfigMap
metadata:
  name: build-watcher
data:
  thoth-watched-namespace: ""
  thoth-environment-type: ""
  thoth-push-registry: ""
  thoth-user-api-host: ""
  thoth-analyze-exising: ""
  thoth-src-registry-user: ""
  thoth-src-registry-password: ""
  thoth-dst-registry-user: ""
  thoth-dst-registry-password: ""
  thoth-no-tls-verify: "0"
  thoth-build-watcher-workers: "1"
  thoth-no-source-registry-tls-verify: "0"
  thoth-no-destination-registry-tls-verify: "0"
  thoth-pass-token: "0"
  thamos-disable-tls-warning: "0"
  thoth-deployment-name: ""
  sentry-dsn: ""
  prometheus-pushgateway-host: "pushgateway-dh-prod-monitoring.cloud.datahub.psi.redhat.com"
  prometheus-pushgateway-port: "80"
