apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: thoth
  app.kubernetes.io/component: prescriptions-refresh-job
  app.kubernetes.io/managed-by: aicoe-thoth-devops
resources:
  - argo-workflows/prescriptions-refresh-gh.yaml
  - argo-workflows/prescriptions-refresh-scorecards.yaml
  - argo-workflows/prescriptions-refresh.yaml
  - imagestream.yaml

