apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - role.yaml
  - role_binding.yaml
  - route.yaml
  - service.yaml
  - thoth-notification.yaml
images:
  - name: investigator
    newName: image-registry.openshift-image-registry.svc:5000/thoth-test-core/investigator
    newTag: latest
patchesStrategicMerge:
  - deploymentconfig.yaml
