apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - role-binding.yaml
  - thoth-notification.yaml
images:
  - name: user-api
    newName: image-registry.openshift-image-registry.svc:5000/thoth-test-core/user-api
    newTag: latest
patchesStrategicMerge:
  - configmap.yaml
  - imagestreamtag.yaml
patches:
  - path: resources_patch.yaml
    target:
      group: apps.openshift.io
      version: v1
      kind: DeploymentConfig
      name: user-api
