apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../stage/
  - thoth-notification.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-succeeded-
      namespace: thoth-infra-stage
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-failed-
      namespace: thoth-infra-stage
generatorOptions:
  disableNameSuffixHash: true
generators:
  - ./secret-generator.yaml
