apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../stage/
  - argo-namespace-install.yaml
  - argo-workflow-controller-metrics.yaml
  - argo-ui-route.yaml
  - thoth-notification.yaml
  - configmaps.yaml
patchesJson6902:
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-succeeded-
  - path: job-generate-name.yaml
    target:
      group: batch
      version: v1
      kind: Job
      name: chat-notification-failed-
