---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: prometheusrule
    role: alert-rules
  name: thoth-prometheus-alerting-rules
spec:
  groups:
    - name: Thoth-rules
      rules:
        #### Alerts for services

        # Alert for number of workflows in middletier
      - alert: ThothMiddletierIngestion
        expr: argo_workflows_count{instance="workflow-controller-metrics-thoth-middletier-prod.apps.zero.massopen.cloud:80", status="Running"} < 1
        for: 30m
        annotations:
          summary: "Workflows running in Middletier Prod is 0! Please verify status of Data Ingestion in Thoth or add more workload!"
          severity: "HIGH"

        # Alert when solvers do not match Thoth s2i offered 
      - alert: ThothSolversThothS2iOfferedMismatch
        expr: thoth_graphdb_solvers_number_match{instance="metrics-exporter-thoth-infra-prod.apps.zero.massopen.cloud:80"} == 1
        for: 30m
        annotations:
          summary: "Number of solvers from ConfigMap and from database do not match!"
          severity: "MEDIUM"

        #### Alerts for Ceph

        # Alert for issue in connection with Ceph
      - alert: ThothCephConnectionProd
        expr: thoth_ceph_connection_issues{instance="metrics-exporter-thoth-infra-prod.apps.zero.massopen.cloud:80"} == 1
        for: 10m
        annotations:
          summary: "Ceph cannot be reached! Components are not able to store documents."
          severity: "HIGH"

        #### Alerts for Kafka

        # Alert for issue in connection with Kafka
      - alert: ThothKafkaConnectionProd
        expr: thoth_kafka_connection_issues{instance="metrics-exporter-thoth-infra-prod.apps.zero.massopen.cloud:80"} == 1
        for: 10m
        annotations:
          summary: "Kafka cannot be reached! Services cannot be scheduled."
          severity: "HIGH"

        #### Alerts for Database

        # Alert for issue in connection to Database
      - alert: ThothDatabaseConnectionProd
        expr: thoth_graphdb_connection_issues{instance="metrics-exporter-thoth-infra-prod.apps.zero.massopen.cloud:80"} == 1
        for: 10m
        annotations:
          summary: "Database cannot be reached! Services cannot be guaranteed."
          severity: "HIGH"

        # Alerts for alembic version mismatch between components and database.
      - alert: ThothSchemaCheckProdUserAPI
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="user-api"} == 1
        for: 5m
        annotations:
          summary: "Schema of User API is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdGraphRefresh
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="graph-refresh-job"} == 1
        for: 5m
        annotations:
          summary: "Schema of Graph Refresh Job is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdInvestigator
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="investigator"} == 1
        for: 5m
        annotations:
          summary: "Schema of Investigator is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdGraphSync
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="graph-sync"} == 1
        for: 5m
        annotations:
          summary: "Schema of Graph Sync is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdWorkflowHelpers
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="workflow-helpers"} == 1
        for: 5m
        annotations:
          summary: "Schema of Workflow Helpers is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdMetricsExporter
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="metrics-exporter"} == 1
        for: 5m
        annotations:
          summary: "Schema of Metrics Exporter is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdManagementAPI
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="management-api"} == 1
        for: 5m
        annotations:
          summary: "Schema of Management API is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdAdviseReporter
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="advise-reporter"} == 1
        for: 5m
        annotations:
          summary: "Schema of Advise Reporter is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdGraphBackup
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="graph-backup-job"} == 1
        for: 5m
        annotations:
          summary: "Schema of Graph Backup is not in sync with database schema."
          severity: "HIGH"

      - alert: ThothSchemaCheckProdPackageReleases
        expr: thoth_graph_db_component_revision_check{env="zero-prod", component="thoth-package-release-job"} == 1
        for: 5m
        annotations:
          summary: "Schema of Package Release is not in sync with database schema."
          severity: "HIGH"

        # Alert for amcheck database corruption check.
      - alert: ThothDatabaseCorruptionCheckProd
        expr: thoth_graphdb_is_corrupted{instance="metrics-exporter-thoth-infra-prod.apps.zero.massopen.cloud:80"} == 1
        for: 5m
        annotations:
          summary: "Database schema is corrupted, all services need to be stopped."
          severity: "HIGH"

        # Alert for alembic version mismatch between components and database.
      - alert: ThothMultipleAlembicRowsProd
        expr: thoth_graphdb_alembic_table_check{instance="metrics-exporter-thoth-infra-prod.apps.zero.massopen.cloud:80"} == 1
        for: 5m
        annotations:
          summary: "Database table for alembic version has more than one row, database is corrupted, all services need to be stopeed."
          severity: "HIGH"
